﻿@{
	ViewData["Title"] = "Transaction";
	var transactions = ViewData["TransactionList"] as TransactionResponse;
}
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/css/transaction.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css" />
</head>

<main class="main">
	<div class="row">
		<div class="selectOption">
			<div class="selectElement">
				<input type="checkbox" id="selectChecked" name="">
				<label for="selectChecked">Select All</label>
			</div>
		</div>
		<div class="searchBox">
			<input type="text" name="search" placeholder="Search Name.." class="searchName">
		</div>
	</div>
	<div class="row" style="justify-content: flex-end;margin-top:10px;">
		<input type="button" id="btnAdd" name="add" value="Add">
	</div>
	<div class="table-responsive">
		<table class="table table-striped expense-data">
			<thead>
				<tr>
					<th></th>
					<th>Expense Name</th>
					<th>Amount</th>
					<th>Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var txn in transactions.Transaction)
				{
					<tr>
						<td><input type="checkbox" id="txn_@txn.id" style="display:block" /></td>
						<td>@txn.user_id</td>
						<td>@txn.value</td>
						<td>@txn.record_date?.ToString("dd/MM/yyyy")</td>
						<td>Edit Delete</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div id="overlay" class="overlay">
		<div class="popup">
			<h2>Popup Panel</h2>
			<p>This is your content here.</p>
			<button class="close-btn" id="btnClose">Close</button>
		</div>
	</div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function () {
		$('.expense-data').DataTable({
			"paging": true,
			"searching": true,
			"ordering": true,
			"info": true,
			"lengthMenu": [5, 10, 25, 50], // rows per page options
			"columnDefs": [
				{ "orderable": false, "targets": 0 }, // disable sorting on checkbox column
				{ "orderable": false, "targets": 4 }  // disable sorting on action column
			]
		});
	});


	const btnAdd = document.getElementById("btnAdd");
	const overlay = document.getElementById("overlay");
	const btnClose = document.getElementById("btnClose");

	// Show popup
	btnAdd.addEventListener("click", () => {
		overlay.style.display = "flex";
	});

	// Close popup
	btnClose.addEventListener("click", () => {
		overlay.style.display = "none";
	});

	// Close if clicking outside popup
	overlay.addEventListener("click", (e) => {
		if (e.target === overlay) {
			overlay.style.display = "none";
		}
	});
</script>
